h1 {
  text-align: center;
  font-variant: small-caps;
  color: rgb(169, 90, 34);
}
body {
  background-color: darkgray;
}
img {
  display: block;
  margin: auto;
}
a {
  color: rgb(240, 240, 174);
  text-decoration: none;
}
p {
  text-align: center;
}
